body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E3E6F3;
}

#header h2 {
  font-size: 28px;
  color: #3742FA;
  position: fixed; 
  top: 0; 
  width: 100%; 
  text-align: center;
  background-color: #E3E6F3;
  padding: 20px 0;
  margin: 0;
}

#container {
  max-width: 400px;
  margin: 100px auto 150px; /* Adjusted margins to create space below the header and above the footer */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container h1 {
  text-align: center;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #E3E6F3;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #3742FA;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3742FA;
}

.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: 700;
}

.bar {
  flex: 1;
  border: none;
  margin: 10px;
  height: 1px;
  background-color: #ccc;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-login button {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.google {
  background-color: #db4437;
  color: #fff;
}

.apple {
  background-color: #000;
  color: #fff;
}

.signin {
  text-align: center;
  margin-top: 20px;
}

.signin a {
  color: #3742FA;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */

@media (max-width: 600px) {
  #container {
      width: 90%;
      margin: 100px auto 150px;
  }

  #container h1 {
      font-size: 28px;
  }

  form {
      padding: 0 20px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
      width: calc(100% - 20px);
  }

  

  #header h2 {
      font-size: 24px;
  }
}

#footer {
  background-color: #E3E6F3;
  color: #3742FA;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  padding: 20px; 
  text-align: center;
  margin-top: 20px; /* Added top margin */
}

#footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#footer .content p {
  margin: 10px;
}

#footer .social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}

#footer .social-media p {
  margin: 0 10px;
}

#footer .social-media a {
  text-decoration: none;
  color: #465b52;
  display: flex;
  align-items: center;
}

#footer .social-media a:hover {
  color: #3742FA;
}

#footer .social-media a i {
  margin-right: 5px;
}

footer hr {
  margin: 2rem 0;
  margin-left: -40px;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
  #footer .content {
      flex-direction: column;
      
  }
}


  